<a href="https://colab.research.google.com/github/Mahalakshmi-Telidevara/Population-Census-1970---2022-Data-Analysis-Project/blob/main/PowerBI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('world_population.csv')

In [6]:
print("First 5 rows:\n")
print(data.head())

print("Last 5 rows:\n")
print(data.tail())

First 5 rows:

   Rank CCA3 Country/Territory           Capital Continent  2022 Population  \
0    36  AFG       Afghanistan             Kabul      Asia         41128771
1   138  ALB           Albania            Tirana    Europe          2842321
2    34  DZA           Algeria           Algiers    Africa         44903225
3   213  ASM    American Samoa         Pago Pago   Oceania            44273
4   203  AND           Andorra  Andorra la Vella    Europe            79824

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621
3            46189            51368            54849            58230
4            77700            71746            71519            66097

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741
3            47818            32886            27075         199
4            53569            35611            19860         468

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56
3           222.4774       0.9831                         0.00
4           170.5641       1.0100                         0.00
Last 5 rows:

     Rank CCA3  Country/Territory   Capital Continent  2022 Population  \
229   226  WLF  Wallis and Futuna  Mata-Utu   Oceania            11572
230   172  ESH     Western Sahara  El Aaiún    Africa           575986
231    46  YEM              Yemen     Sanaa      Asia         33696614
232    63  ZMB             Zambia    Lusaka    Africa         20017675
233    74  ZWE           Zimbabwe    Harare    Africa         16320537

     2020 Population  2015 Population  2010 Population  2000 Population  \
229            11655            12182            13142            14723
230           556048           491824           413296           270375
231         32284046         28516545         24743946         18628700
232         18927715         16248230         13792086          9891136
233         15669666         14154937         12839771         11834676

     1990 Population  1980 Population  1970 Population  Area (km²)  \
229            13454            11315             9377         142
230           178529           116775            76371      266000
231         13375121          9204938          6843607      527968
232          7686401          5720438          4281671      752612
233         10113893          7049926          5202918      390757

     Density (per km²)  Growth Rate  World Population Percentage
229            81.4930       0.9953                         0.00
230             2.1654       1.0184                         0.01
231            63.8232       1.0217                         0.42
232            26.5976       1.0280                         0.25
233            41.7665       1.0204                         0.20

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [8]:
data.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

In [9]:
data.shape

(234, 17)

In [10]:
data.nunique()

Rank                           234
CCA3                           234
Country/Territory              234
Capital                        234
Continent                        6
2022 Population                234
2020 Population                234
2015 Population                234
2010 Population                234
2000 Population                234
1990 Population                234
1980 Population                234
1970 Population                234
Area (km²)                     233
Density (per km²)              234
Growth Rate                    180
World Population Percentage     70
dtype: int64

In [11]:
print("First 10 unique values:\n")
for col in data.columns:
  print(f"{col}: {data[col].unique()[:10]}")
  print("\n")

First 10 unique values:

Rank: [ 36 138  34 213 203  42 224 201  33 140]


CCA3: ['AFG' 'ALB' 'DZA' 'ASM' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM']


Country/Territory: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia']


Capital: ['Kabul' 'Tirana' 'Algiers' 'Pago Pago' 'Andorra la Vella' 'Luanda'
 'The Valley' 'Saint John’s' 'Buenos Aires' 'Yerevan']


Continent: ['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']


2022 Population: [41128771  2842321 44903225    44273    79824 35588987    15857    93763
 45510318  2780469]


2020 Population: [38972230  2866849 43451666    46189    77700 33428485    15585    92664
 45036032  2805608]


2015 Population: [33753499  2882481 39543154    51368    71746 28127721    14525    89941
 43257065  2878595]


2010 Population: [28189672  2913399 35856344    54849    71519 23364185    13172    85695
 41100123  2946293]


2000 Population: [19542982  3182021 30774621    58230    66097 16394062    11047    75055
 37070774  3168523]


1990 Population: [10694796  3295066 25518074    47818    53569 11828638     8316    63328
 32637657  3556539]


1980 Population: [12486631  2941651 18739378    32886    35611  8330047     6560    64888
 28024803  3135123]


1970 Population: [10752971  2324731 13795915    27075    19860  6029700     6283    64516
 23842803  2534377]


Area (km²): [ 652230   28748 2381741     199     468 1246700      91     442 2780400
   29743]


Density (per km²): [ 63.0587  98.8702  18.8531 222.4774 170.5641  28.5466 174.2527 212.1335
  16.3683  93.4831]


Growth Rate: [1.0257 0.9957 1.0164 0.9831 1.01   1.0315 1.0066 1.0058 1.0052 0.9962]


World Population Percentage: [0.52 0.04 0.56 0.   0.45 0.57 0.03 0.33 0.11 0.13]

In [12]:
print("Checking for Missing values:\n")
print(data.isnull().sum())

Checking for Missing values:

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [13]:
print('Duplicate values:\n')
print(data.duplicated().sum())

Duplicate values:

0